.about-us{
  height: 100vh;
  width: 90%;
  margin: auto;
  @include flex-horizontal;
  gap: 2rem;
}

.about-us_img-container{
  width: 50%;
  height: 90vh;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.about-us_content{
  width: 50%;
  .about-us_header-container{
    border-left: 1px solid get-primary-color('normal');
    margin-bottom: 1rem; 
    padding-left: 1rem;

    h4{
      color: get-primary-color('60');
    }
  }

  p{
    padding-left: 1rem;
    color: get-primary-color('80');
  }
}

@include tablet{
  .about-us{
    @include flex-vertical;
    padding: 2rem 0;
  }
  .about-us_img-container{
    height: 50vh;
    width: 100%;
  }

  .about-us_content{
    width: 100%;
  }
}